* {
  box-sizing: border-box;
}
body {
  background-color: #000000;
}
.box {
  min-height: 980px;
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  position: relative;
}
.circle {
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 50%;
}
.small {
  height: 400px;
  width: 400px;
}
.big {
  height: 750px;
  width: 750px;
}
.left {
  position: absolute;
  top: 0;
}
.right {
  position: absolute;
  top: 0;
  right: 0;
}
.center {
  position: absolute;
  bottom: 0;
  left:225px;
}