* {
  box-sizing: border-box;
}
body {
  min-height: 200vh;
}
.circle {
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 50%;
  box-shadow: rgba(245, 3, 3, 0.911) 0px 10px 5px;
}
.small {
  height: 400px;
  width: 400px;
}
.big {
  height: 750px;
  width: 750px;
}
.left {
  position: absolute;
  top: 0;
  left: 320px;
}
.right {
  position: absolute;
  top: 0;
  right: 320px;
}
.center {
  position: relative;
  bottom: 0;
  margin: 200px auto;
}